dSoak-Common-CSharp/Actors/Web References/_Registrar/Registrar0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PublicEndPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostAndPort" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicEndPoint" nillable="true" type="tns:PublicEndPoint" />
  <xs:simpleType name="RegistryEntry.ProcessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GameManager" />
      <xs:enumeration value="Player" />
      <xs:enumeration value="BalloonStore" />
      <xs:enumeration value="WaterServer" />
      <xs:enumeration value="UmbrellaManager" />
      <xs:enumeration value="Thief" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistryEntry.ProcessType" nillable="true" type="tns:RegistryEntry.ProcessType" />
  <xs:complexType name="ArrayOfRegistryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistryEntry" nillable="true" type="tns:RegistryEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistryEntry" nillable="true" type="tns:ArrayOfRegistryEntry" />
  <xs:complexType name="RegistryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliveTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ep" nillable="true" type="tns:PublicEndPoint" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessId" type="xs:short" />
      <xs:element minOccurs="0" name="Type" type="tns:RegistryEntry.ProcessType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistryEntry" nillable="true" type="tns:RegistryEntry" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FightManagerEP" nillable="true" type="tns:PublicEndPoint" />
      <xs:element minOccurs="0" name="FightManagerId" type="xs:short" />
      <xs:element minOccurs="0" name="GameId" type="xs:short" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:short" />
      <xs:element minOccurs="0" name="MaxThieves" type="xs:short" />
      <xs:element minOccurs="0" name="Status" type="tns:GameInfo.StatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:simpleType name="GameInfo.StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotInitialized" />
      <xs:enumeration value="Available" />
      <xs:enumeration value="InProgress" />
      <xs:enumeration value="Complete" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Ending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameInfo.StatusCode" nillable="true" type="tns:GameInfo.StatusCode" />
  <xs:complexType name="ArrayOfGameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInfo" nillable="true" type="tns:GameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInfo" nillable="true" type="tns:ArrayOfGameInfo" />
</xs:schema>