dSoak-GameRegistry/GameRegistryTest/Service References/GameRegistry/Registrar1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3154/Registrar.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedObjects" />
  <xs:element name="GetProcessId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="ep" nillable="true" type="q1:PublicEndPoint" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="processType" type="q2:RegistryEntry.ProcessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProcessIdResult" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="GetGameManagersResult" nillable="true" type="q3:ArrayOfRegistryEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="GetPlayersResult" nillable="true" type="q4:ArrayOfRegistryEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameManagerId" type="xs:int" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="RegisterGameResult" nillable="true" type="q5:GameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="status" type="q6:GameInfo.StatusCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="GetGamesResult" nillable="true" type="q7:ArrayOfGameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameAmAlive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameAmAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SharedObjects" minOccurs="0" name="status" type="q8:GameInfo.StatusCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPointReflector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPointReflectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndPointReflectorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>